/* Typography */

h2 {
    font-size: var(--h2);
    font-weight: 400;
    color: var(--heading-color);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h2.large {
    font-size: var(--h1);
}

h3 {
    font-size: var(--h3);
    font-weight: 400;
    color: var(--heading-color);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h3.small {
    font-size: var(--h4);
}

p {
    font-size: var(--p);
    font-weight: 400;
    color: var(--text-color);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h6 {
    font-size: var(--h6);
    font-weight: 400;
    color: var(--text-color);
} 

.error {
    color: var(--error-color);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.selectable {
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    -o-user-select: auto;
    user-select: auto;
}